.modal-invite .modal-button{
    padding: 10px;
    margin: 23px;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    font-family: 'KBO-Dia-Gothic_bold';
}


.modal-invite .share-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    z-index: 9999;
  }
  
  .modal-inin .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-inin h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .modal-inin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .modal-inin .error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .modal-inin button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal-inin button:hover {
    background-color: #45a049;
  }
  
  .modal-inin .cancel-button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #ff5454;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .modal-inin .cancel-button:hover {
    background-color: #a14949;
  }